{% extends 'html/core.html' %}
{% block content %}
   <div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
    <h3>Verify OTP:</h3>
    <form action="" method="post" novalidate>
    {% csrf_token %}
    {{form}}
    <br>    
    <input type="submit" value="Verify" class="btn btn-outline-primary">
    </form>
    <div class="my-3 ">
    
    <a href="{% url 'register' %}">Register</a>
    </div>
    <div class="mt-3">
    {% if messages %}
    {% for msg in messages  %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
    {% endfor %}
    {% endif %}
    
    </div>
    </div>
    </div>
    </div>

{% endblock content %}


